.about {
  &__img {
    position: relative;
    height: 700px;

    &-info {
      @include size(100%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      padding-top: 60px;
      text-align: center;
      line-height: 28px;
      min-height: 400px;
    }

    &-sub {
      font-size: 24px;
      color: #ccc;
    }

    &-title {
      font: 400 35px $title;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 18px;
    }

    &-date {
      font-size: 20px;
      color: #ccc;
      margin-bottom: 80px;
    }

    &::before {
      @include pos();
      @include size(100%);
      content: "";
      background-color: rgba(0, 0, 0, 0.52);
    }
  }
}

@media (max-width: $mobile) {
  .about {
    &__img {
      &-info {
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 15px;
        padding-left: 50px;
      }

      &-sub {
        font-size: 16px;
        margin-bottom: 15px;
      }

      &-title {
        font-size: 28px;
      }

      &-text {
        display: none;
      }

      &-date {
        font-size: 12px;
      }
    }
  }
}
