.benifits {
  padding-top: 5%;

  &__title {
    margin-bottom: 5%;
  }

  &__wrap {
    margin-bottom: 10%;
  }

  &__info {
    padding-top: 30px;
  }

  &__sub {
    margin-bottom: 15px;
  }

  &__text {
    font-weight: 300;
    line-height: 28px;
    color: $grey;
    margin-bottom: 30px;
  }

  &__img {
    width: 100%;
  }
}
