.footer {
  background-color: $grey;
  padding: 120px 0;

  &__rigths {
    margin-top: 25px;
    font-size: 14px;
    line-height: 19px;
    color: #ccc;
  }

  &__menu {
    margin-right: 50px;
  }

  &__menu-title {
    font: 500 18px/27px $title;
    color: #fff;
    margin-bottom: 15px;
  }

  &__menu-item {
    margin-bottom: 10px;
  }

  &__menu-link {
    color: #ccc;
    font: 400 14px/21px $title;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  &__link-phone {
    @extend .footer__menu-link;
    display: block;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  &__social {
    margin-top: 30px;
  }
}

@media (max-width: $mobile) {
  .footer {
    padding: 40px 0 40px 20px;

    &__rigths {
      font-size: 12px;
    }

    &__menu {
      margin: 0 auto 10px;
    }

    &__social {
      margin-top: 10px;
      justify-content: center;
    }

    &__info:last-child {
      text-align: center;
    }
  }
}
