.header {
  background: url("../images/home/header-bg-mobile.jpg") no-repeat bottom center;
  background-size: cover;
  color: #fff;
  position: relative;

  @media (min-width: $mobile) {
    background-image: url("../images/home/header-bg.jpg");
  }

  &--small {
    background: none;
    background-color: $darkgreen;
    padding-bottom: 3rem;
  }

  &--dalmatia {
    background: url("../images/dalmatia/dalmatia-bg-mobile.jpg") no-repeat
      bottom center;
    background-size: cover;

    @media (min-width: $mobile) {
      background-image: url("../images/dalmatia/dalmatia-bg.jpg");
    }
  }

  &__menu {
    @media (min-width: $mobile) {
    }

    &--about {
      background: #1f3230;
    }
  }

  &::before {
    @include size(100%);
    @include pos($t: 0, $l: 0);

    content: "";
    background-color: rgba(0, 0, 0, 0.22);
    pointer-events: none;
  }

  &__container {
    position: relative;
  }

  &__content {
    padding: 20vh 0;
  }

  &__text {
    line-height: 22px;

    &--dalmatia {
      font: 500 17px/25.5px $title;
      letter-spacing: 0.15em;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font: 500 28px/42px $title;
    letter-spacing: 0.15em;
  }

  &__title {
    text-transform: uppercase;
    font: 700 100px $title;
    margin-bottom: 50px;

    &--dalmatia {
      margin-bottom: 0;
    }

    @media (max-width: $mobile) {
      font-size: 70px;
    }
  }
}

.logo {
  font: 700 18px $title;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.user-menu {
  &__item {
    &:first-child {
      margin-right: 20px;
    }
  }

  &__link {
    color: #fff;
    transition: all 0.3s;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
}
