.header {
  background: url("../images/home/header-bg-mobile.jpg") no-repeat bottom center;
  background-size: cover;
  padding-top: 30px;
  color: #fff;
  position: relative;

  @media (min-width: $mobile) {
    background-image: url("../images/home/header-bg.jpg");
    padding-top: 40px;
  }

  &--small {
    background: none;
    background-color: $darkgreen;

    @media (min-width: $mobile) {
      padding-bottom: 3rem;
    }
  }

  &--dalmatia {
    background: url("../images/dalmatia/dalmatia-bg-mobile.jpg") no-repeat
      bottom center;
    background-size: cover;

    @media (min-width: $mobile) {
      background-image: url("../images/dalmatia/dalmatia-bg.jpg");
    }
  }

  &__menu {
    &--about {
      background: $darkgreen;
    }

    @media (max-width: $mobile) {
      @include pos(fixed, $t: 0, $z: 99);
      width: 100%;
      background-color: $darkgreen;
      padding: 20px 30px;
      margin-left: -15px;
    }
  }

  &--shadow {
    position: relative;

    &::before {
      @include size(100%);
      @include pos($t: 0, $l: 0);

      content: "";
      background-color: rgba(0, 0, 0, 0.22);
      pointer-events: none;
    }
  }

  &__container {
    position: relative;
  }

  &__content {
    padding: 20vh 0;
  }

  &__text {
    line-height: 22px;

    &--dalmatia {
      font: 500 17px/25.5px $title;
      letter-spacing: 0.15em;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font: 500 28px $title;
    letter-spacing: 0.15em;
    margin-bottom: 30px;

    @media (max-width: $mobile) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__title {
    text-transform: uppercase;
    font: 700 100px/50px $title;
    margin-bottom: 50px;

    &--dalmatia {
      margin-bottom: 30px;
      text-transform: none;
    }

    @media (max-width: $mobile) {
      font-size: 70px;
      margin-bottom: 20px;
    }
  }
}

.logo {
  font: 700 18px $title;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.user-menu {
  z-index: 5;

  &__item {
    &:first-child {
      margin-right: 20px;
    }
  }

  &__link {
    color: #fff;
    transition: all 0.3s;

    &:hover {
      color: $yellow;
      text-decoration: none;

      @media (max-width: $mobile) {
        color: #fff;
      }
    }
  }
}
