.info {
  background-color: $grey;
  padding: 35px 0;

  &__item:last-child {
    p {
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: #fff;
      }
    }
  }

  &__text {
    color: #ccc;
    font-weight: 700;
    margin-bottom: 25px;

    &--extra {
      margin-bottom: 40px;
    }
  }

  &__title {
    color: #fff;
    font-size: 32px;
    line-height: 44px;
  }

  &__word {
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
  }

  &__icon {
    font-size: 24px;
    margin-right: 5px;

    &--star {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

@media (max-width: $mobile) {
  .info {
    &__wrap {
      flex-direction: column;
      text-align: center;
    }

    &__item {
      margin-bottom: 30px;
      position: relative;

      &:after {
        @include pos($l: 50%, $b: -15px);
        @include size(100px, 1px);
        content: "";
        background-color: $yellow;
        transform: translateX(-50%);
      }
    }

    &__title {
      font-size: 28px;
    }

    &__stars,
    &__text {
      justify-content: center;
    }
  }
}
