.btn {
  font-weight: 700;
  color: #fff;
  background-color: $yellow;

  border: 3px solid $yellow;
  padding: 15px 40px;
  border-radius: 0;
  transition: all 0.3s;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
  }

  &--long {
    min-width: 100%;

    &:hover {
      border: 3px solid $darkgreen;
      background-color: transparent;
      color: $darkgreen;
    }
  }
}
