.menu {
  position: relative;

  .burger {
    @include size(36px, 21px);
    @include pos($t: 0, $r: 20px, $z: 16);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    span {
      @include size(30px, 2px);
      display: block;
      background: #fff;
      align-self: flex-end;
      transition: 0.3s all;
    }

    span.long {
      @include size(36px, 2px);
    }

    &--active {
      span.long {
        display: none;
      }

      span {
        position: absolute;

        &:first-child {
          transform: rotate(45deg);
          top: 6px;
        }

        &:last-child {
          transform: rotate(-45deg);
          top: 6px;
        }
      }
    }
  }

  // **
  // &__toggle {
  //   display: none;

  //   &:checked {
  //     + .menu__label {
  //       .menu__line {
  //         display: none;
  //       }

  //       &::before {
  //         transform: rotate(45deg);
  //         top: 11px;
  //       }

  //       &::after {
  //         transform: rotate(-45deg);
  //         bottom: 11px;
  //       }

  //       ~ .menu__list {
  //         right: 0;
  //       }
  //     }
  //   }
  // }

  // &__label {
  //   @include size(35px, 25px);
  //   @include pos(relative);

  //   display: block;
  //   margin-right: 25px;

  //   &::before,
  //   &::after {
  //     @include size(100%, 2px);
  //     @include pos($l: 0);

  //     content: "";
  //     background: #fff;
  //     transition: all 0.3s;
  //   }

  //   &::before {
  //     top: 0;
  //   }

  //   &::after {
  //     bottom: 0;
  //   }
  // }

  // &__line {
  //   @include size(100%, 2px);
  //   @include pos($l: 0, $t: 46%);
  //   background: #fff;
  // }

  &__link {
    text-decoration: none;
    font: 500 16px $title;
    color: #fff;
  }
}

// mobile
@media (max-width: $mobile) {
  .menu {
    .burger {
      display: flex;
    }

    &__list {
      @include size(190px, 100%);
      @include pos(fixed, $t: 0, $r: -190px, $z: 5);
      background-color: rgba($color: $darkgreen, $alpha: 0.7);
      flex-direction: column;
      justify-content: center;
      text-align: center;
      transition: all 0.3s;

      &--active {
        right: 0;
      }
    }

    &__item {
      margin: 35px 0;
    }

    &__link {
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

// desktop
@media (min-width: $mobile) {
  .menu {
    margin-right: 50px;

    // &__label {
    //   display: none;
    // }

    &__item {
      margin-left: 40px;
    }

    &__link {
      position: relative;
      transition: all 0.3s;

      &::after {
        @include size(0, 3px);
        @include align(false, true, absolute);

        content: "";
        background-color: $yellow;
        bottom: -10px;
        transition: all 0.3s;
      }

      &:hover,
      &.menu__link--active {
        color: #fff;
        text-decoration: none;

        &::after {
          width: 110%;
        }
      }
    }
  }
}
