.menu {
  position: relative;

  .burger {
    @include size(36px, 21px);
    @include pos($t: 0, $r: 20px, $z: 16);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    span {
      @include size(30px, 2px);
      display: block;
      background: #fff;
      align-self: flex-end;
      transition: 0.3s all;
    }

    span.long {
      @include size(36px, 2px);
    }

    &--active {
      span.long {
        display: none;
      }

      span {
        position: absolute;

        &:first-child {
          transform: rotate(45deg);
          top: 9px;
        }

        &:last-child {
          transform: rotate(-45deg);
          top: 9px;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    font: 500 16px $title;
    color: #fff;
  }
}

// mobile
@media (max-width: $mobile) {
  .menu {
    .burger {
      display: flex;
    }

    &__list {
      @include size(190px, 100%);
      @include pos(fixed, $t: 0, $r: -190px, $z: 5);
      background-color: rgba($color: $darkgreen, $alpha: 0.9);
      flex-direction: column;
      justify-content: center;
      text-align: center;
      transition: all 0.3s;

      &--active {
        right: 0;
      }
    }

    &__item {
      margin: 35px 0;
    }

    &__link {
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

// desktop
@media (min-width: $mobile) {
  .menu {
    margin-right: 50px;

    &__item {
      margin-left: 40px;
    }

    &__link {
      position: relative;
      transition: all 0.3s;

      &::after {
        @include size(0, 3px);
        @include align(false, true, absolute);

        content: "";
        background-color: $yellow;
        bottom: -10px;
        transition: all 0.3s;
      }

      &:hover,
      &.menu__link--active {
        color: #fff;
        text-decoration: none;

        &::after {
          width: 110%;
        }
      }
    }
  }
}
