.social {
  &__item {
    font-size: 20px;
    margin-right: 20px;
    transition: all 0.3s;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $mobile) {
      font-size: 30px;
      justify-content: center;
    }
  }

  &__link {
    text-decoration: none;
    color: #ccc;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
