.title {
  color: #142120;
  font: 700 32px/46px $title;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $mobile) {
    font-size: 44px;
    line-height: 66px;
  }

  &::before {
    @include size(220px, 3px);
    @include pos($t: 50%, $l: -250px);
    content: "";
    background-color: $yellow;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #1f3230;
  padding-left: 30px;
  margin-bottom: 15px;
  position: relative;

  &::before {
    @include size(16px);
    @include align(true, false, absolute);

    content: "";
    background-color: $yellow;
    border-radius: 50%;
    left: 0;
  }
}
